<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<%= form_with url: login_path, local: true, scope: :session do |form| %>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email   , class: 'form-control' %> 
    <%= form.label :password %>
    <%= form.text_field :password, class: 'form-control' %> 
  </div>
  <%= form.submit "Login my account", class: "btn btn-primary" %>
<% end %>
New user? <%= link_to "Sign up now!", signup_path %>
