<h1>Create course</h1>
<%= form_with url: courses_searcher_create_path, :method => 'post', local: true do |form| %>
  <div class="form-group">
    <%= form.label :course_id    %><%= form.text_field :course_id   , class: 'form-control' %>
    <%= form.label :course_title %><%= form.text_field :course_title, class: 'form-control' %>
    <%= form.label :topic        %><%= form.text_field :topic       , class: 'form-control' %>
    <%= form.label :day_length   %><%= form.text_field :day_length  , class: 'form-control' %>
    <%= form.label :price        %><%= form.text_field :price       , class: 'form-control' %>
    <%= form.label :level_id     %><%= form.text_field :level_id    , class: 'form-control' %>
    <%= form.label :category     %><%= form.text_field :category    , class: 'form-control' %>
  </div>
  <%= form.submit 'Create', class: 'btn btn-primary' %>
<% end %>
