<!--
  html風の記述でうまくサイトを構成します
  テンプレートはtraining_task/app/views/layouts/application.html.erb
-->

<h1>Delete this course?</h1>
<p>
<!--
  削除確認ページ
-->
<%= form_with url: courses_searcher_delete_path(@course), :method => 'delete', local: true do |form| %>
  <div class="form-group">
    <%= form.label :course_id    %><%= form.text_field :course_id   , value: @course.course_id   , class: 'form-control', :readonly => true %>
    <%= form.label :course_title %><%= form.text_field :course_title, value: @course.course_title, class: 'form-control', :readonly => true %>
    <%= form.label :topic        %><%= form.text_field :topic       , value: @course.topic       , class: 'form-control', :readonly => true %>
    <%= form.label :day_length   %><%= form.text_field :day_length  , value: @course.day_length  , class: 'form-control', :readonly => true %>
    <%= form.label :price        %><%= form.text_field :price       , value: @course.price       , class: 'form-control', :readonly => true %>
    <%= form.label :level_id     %><%= form.text_field :level_id    , value: @course.level_id    , class: 'form-control', :readonly => true %>
    <%= form.label :category     %><%= form.text_field :category    , value: @course.category    , class: 'form-control', :readonly => true %>
  </div>
  <%= form.submit 'Delete', class: 'btn btn-primary' %>
<% end %>
</p>
