<!--
  html風の記述でうまくサイトを構成します
  テンプレートは./app/view/layouts/app/views/layouts/application.html.erb
-->

<h2>Search result</h2>
<p>
word search<br>
<!--
  検索結果一覧の表示
  link_toでの値渡し付近で躓きがち、でも単純に値が渡せるらしい
  渡した先はparam[:search_result]
-->
<%= @courses.length %>
<table border="1">
  <tr>
    <th>course_id</th><th>course_title</th><th>topic</th><th>day_length</th><th>price</th>
    <th>level_id</th><th>category</th>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.course_id, courses_searcher_single_course_path(@course, search_result: course.course_id), :method => 'get', local: true %></td>
        <td><%= course.course_title %></td>
        <td><%= course.topic %></td>
        <td><%= course.day_length %></td>
        <td><%= course.price %></td>
        <td><%= course.level_id %></td>
        <td><%= course.category %></td>
      </tr>
    <% end %>
  </tr>
</table>
</p>
