<!--
  html風の記述でうまくサイトを構成します
  テンプレートはtraining_task/app/views/layouts/application.html.erb
-->

<h1>CourseSearcher</h1>
<p>logo image</p>
<%= link_to "All_search", {controller: 'courses_searcher', action: 'index'}, {method: :get} %><br>
<!--
  なんとformを使うためにそれ用のタグがあるらしいな？
  というわけでform_withを使って検索窓、ラジオボタンを実装する
  url:指定しているのはmodel:でうまくurlを発行できない？ようだ、modelと接続できていないかもしれない
-->

<%= form_with url: courses_searcher_multiple_list_path, :method => 'get', local: true do |form| %>
  <div class="form-group">
    <%= form.text_field :search, class: 'form-control' %>
    <div class="radio-inline">
      <%= form.radio_button :mode, 'keyword', {:checked => true} %><lavel>keyword</lavel>
    </div>
    <div class="radio-inline">
      <%= form.radio_button :mode, 'category', {:checked => false} %><lavel>category</lavel>
    </div>
  </div>
  <%= form.submit 'Search', class: 'btn btn-primary' %>
<% end %>

