<!--
  html風の記述でうまくサイトを構成します
  テンプレートはtraining_task/app/views/layouts/application.html.erb
-->

<h2>Search result</h2>
<p>
<!--
  単一表示画面、なんか上手いこと編集できるようにする
  可能ならテキストフィールドの幅を調整したい(css関連)
  valueの指定とか値受け渡しでつまずいたときはここを参照する
-->
single course<br>
<%= form_with url: course_searcher_update_path, :method => 'post', local: true do |form| %>
<table border="1">
  <tr><th>course_id     </th><td><%= form.text_field :create_course_id   , value: @course.course_id   , size: 50, :readonly => true %></td></tr>
  <tr><th>course_title  </th><td><%= form.text_field :create_course_title, value: @course.course_title, size: 50 %></td></tr>
  <tr><th>topic         </th><td><%= form.text_field :create_topic       , value: @course.topic       , size: 50 %></td></tr>
  <tr><th>day_length    </th><td><%= form.text_field :create_day_length  , value: @course.day_length  , size: 50 %></td></tr>
  <tr><th>price         </th><td><%= form.text_field :create_price       , value: @course.price       , size: 50 %></td></tr>
  <tr><th>level_id      </th><td><%= form.text_field :create_level_id    , value: @course.level_id    , size: 50 %></td></tr>
  <tr><th>category      </th><td><%= form.text_field :create_category    , value: @course.category    , size: 50 %></td></tr>
</table>
<%= form.submit 'Update' %>
<%= form.submit 'Delete', name: 'delete_button' %>
<% end %>
</p>
