<!--
  html風の記述でうまくサイトを構成します
  テンプレートはtraining_task/...s
-->

<h1>CourseSearcher</h1>
<p>logo image</p>
<%= link_to "All_search", {controller: 'course_searcher', action: 'top'}, {method: :get} %><br>
word search

<!--なんとformを使うためにそれ用のタグがあるらしいな？-->
<%= form_with url: course_searcher_multiple_list_path(@courses), :method => 'get', local: true do |form| %>
  <%= form.text_field :search, value: 'test' %>
  <%= form.radio_button :mode, 'keyword', {:checked => true} %>keyword
  <%= form.radio_button :mode, 'category', {:checked => false} %>category
  <%= form.submit 'Search', :name => nil %>
<% end %>

