<!DOCTYPE html>
<html>
  <head>
    <title>TrainingTask</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color:lightblue;"> 
      <hgroup>
      <p><font color="white"><b>
          <%= link_to "Top", {controller: 'courses_searcher', action: 'top'}, {method: :get} %>|
          <%= link_to "Create_course", courses_searcher_create_course_path, {method: :get} %>|
          <%= link_to "All_search", courses_searcher_index_path, {method: :get} %>|
          <%= link_to "sign-up", signup_path, {method: :get} %>|
          <%= link_to "sign-in", login_path, {method: :get} %>
        </b></font></p>
      </hgroup>
    </header>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 form-group">
        <div id="error_explanation">
          <% if @query %>
            <% if @query.errors.any? %>
              <div class="alert alert-danger">
                <%= @query.errors.count %>件のエラーがあります。
              </div>
              <% @query.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            <% end %>
          <% end %>

          <% if @course %>
            <% if @course.errors.any? %>
              <div class="alert alert-danger">
                <%= @course.errors.count %>件のエラーがあります。
              </div>
              <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= yield %>

      </div>
    </div>
    <footer style="background-color:lightblue;">
      <p><b><font color="white">Cource Searcher</font></b></p>
    </footer>
  </body>
</html>
