<!DOCTYPE html>
<html>
  <head>
    <title>TrainingTask</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color:lightblue;"> 
      <hgroup>
      <p><font color="white"><b>
          <%= link_to "Top", {controller: 'courses_searcher', action: 'top'}, {method: :get} %>|
          <%= link_to "Create_course", courses_searcher_create_course_path, {method: :get} %>|
          <%= link_to "All_search", courses_searcher_index_path, {method: :get} %>|
          <%= link_to "sign-up", signup_path, {method: :get} %>|
          <%= link_to "sign-in", login_path, {method: :get} %>
        </b></font></p>
      </hgroup>
    </header>

    <% if @query %>
      <% if @query.errors.any? %>
        <h2><%= @query.errors.count %>件のエラーがあります。</h2>
        <% @query.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    <% end %>

    <% if @course %>
      <% if @course.errors.any? %>
        <h2><%= @course.errors.count %>件のエラーがあります。</h2>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    <% end %>

    <%= yield %>

    <footer style="background-color:lightblue;">
      <p><b><font color="white">Cource Searcher</font></b></p>
    </footer>
  </body>
</html>
